# This file is managed by Ansible
---
{% if foreman_proxy_dhcp is defined %}
# Enable DHCP management
:enabled: {{ foreman_proxy_dhcp | lower }}
:dhcp_vendor: {{ foreman_proxy_dhcp_vendor }}
:dhcp_config: {{ foreman_proxy_dhcp_config }}
:dhcp_leases: {{ foreman_proxy_dhcp_leases }}
{% if foreman_proxy_dhcp_key_name is defined %}
:dhcp_key_name: {{ foreman_proxy_dhcp_key_name }}
{% endif %}
{% if foreman_proxy_dhcp_key_secret is defined %}
:dhcp_key_secret: {{ foreman_proxy_dhcp_key_secret }}
{% endif %}
:dhcp_omapi_port: {{ foreman_proxy_dhcp_omapi_port }}
{% else %}
# Use Ansible to enable DHCP
{% endif %}
