# This file is managed by Ansible
---
{% if foreman_proxy_dns is defined%}
# DNS management
:enabled: {{ foreman_proxy_dns | lower }}
:use_provider: dns_{{ foreman_proxy_dns_provider }}
:dns_ttl: {{ foreman_proxy_dns_ttl }}
{% else %}
# Use Ansible to enable DNS
{% endif %}
