# This file is managed by Ansible
---
{% if foreman_proxy_tftp is defined %}
# TFTP management
:enabled: {{ foreman_proxy_tftp | lower }}
:tftproot: {{ tftp_root_directory }}
{% if foreman_proxy_tftp_servername is defined %}
:tftp_servername: {{ foreman_proxy_tftp_servername }}
{% endif %}
{% else %}
# Use Ansible to enable TFTP
{% endif %}
