# This file is managed by Ansible
---
:settings_directory: /etc/foreman-proxy/settings.d

{% if foreman_proxy_ssl == true %}
:ssl_ca_file: {{ foreman_proxy_ssl_ca }}
:ssl_certificate: {{ foreman_proxy_ssl_cert }}
:ssl_private_key: {{ foreman_proxy_ssl_key }}
{% endif %}
{% if foreman_proxy_trusted_hosts is defined %}
:trusted_hosts:
{% for host in foreman_proxy_trusted_hosts %}
  - {{ host }}
{% endfor %}
{% endif %}
:foreman_url: {{ foreman_proxy_foreman_base_url }}
{% if foreman_proxy_foreman_ssl_ca is defined %}
:foreman_ssl_ca: {{ foreman_proxy_foreman_ssl_ca }}
{% endif %}
{% if foreman_proxy_foreman_ssl_cert is defined %}
:foreman_ssl_cert: {{ foreman_proxy_foreman_ssl_cert }}
{% endif %}
{% if foreman_proxy_foreman_ssl_key is defined %}
:foreman_ssl_key: {{ foreman_proxy_foreman_ssl_key }}
{% endif %}
:daemon: true
:bind_host: '{{ foreman_proxy_bind_host }}'
{% if foreman_proxy_ssl == true %}
:https_port: {{ foreman_proxy_ssl_port }}
{% else %}
:http_port: {{ foreman_proxy_http_port }}
{% endif %}
:virsh_network: {{ foreman_proxy_virsh_network }}
:log_file: {{ foreman_proxy_log }}
:log_level: {{ foreman_proxy_log_level }}
